@model  Recepts.MVC.Models.FilteredReceptsViewModel
@{
    var recepts = Model.Recepts;
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        @if (recepts.Count == 0)
        {
            <div class="text-center text-danger">Няма Намерени Резултати.</div>
        }
        else
        {
            foreach (var recept in recepts)
            {
                var idito = recept.Id;
                <div class="jumbotron">
                    <div class="text-center text-success"><a href="@Url.Action("Recept", "Home", new { id = idito })">@recept.Title</a></div>
                    <br />
                    <div class="text-center">
                        <a href="@Url.Action("Recept", "Home", new { id = idito })"><img alt="@recept.Title" title="@recept.Title" width="300" height="250" src="@recept.Image" /></a>
                    </div>
                </div>
                <br />
            }
        }
    </div>
</div>